
.App {
  text-align: left;
  background-color: #C5CBE3;
  /* background-image: url(./images/BackgroundandMountain.png);
  background-size: contain;
  background-repeat: no-repeat; */
  width: 94%;
  height: 100%;
  position: absolute;
  margin: 3%;
  margin-top: 3%;
  /* margin-bottom: 0rem; */

}


.contact-button {
  position: absolute;
  width: 12rem;
  height: 12rem;
  left: -1.5rem;
  top: -1.5rem;
  transition: 500ms;
}

.contact-button a img {
  width: 150%;
  height: 120%;
}


.contact-button:hover {
  position: absolute;
  left: 0rem;
  top: 0rem;
}


.footer-pic img {
  display: flex;
  position: relative;
  width: 100%;
  height: 50rem;
  top: 15rem;
}

.text {
  position: absolute;
  top: 15%;
  left: 20%;
  width: 40%;
}

.navbar {
  float: right;
  color: #474747;
  margin: 2rem;
}

.nav-link {
  font-size: 1.5rem;
  margin-left: 3rem;
  text-decoration: none;
  transition: 300ms;
}

.nav-link:visited {
  color: #474747
}

.nav-link:hover {
  color:#F13C20;
  text-decoration: underline;
}

