
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


body {
  margin: 0;
  background-color: #F8BD4D;
  background-image: url(images/justMountain.png);
  background-position: center bottom -15rem;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover ;
  font-family: 'Rubik', serif;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
